.container {
  width: 100vw;
  background: repeating-radial-gradient(
    rgba(37, 150, 206, 0.853),
    rgba(154, 235, 218, 0.8),
    rgba(161, 216, 252, 0.8)
  );
  padding: 4vh;
}

.actionBox {
  
  background: repeating-linear-gradient(
    7deg,
    rgba(128, 188, 208, 0.853),
    rgba(229, 255, 233, 0.8),
    rgba(219, 250, 231, 0.8)
  );
  border: ridge 0.7vh;
   border-radius: 2vh;
  border-image: linear-gradient(to left, #f8feff, #ff6608, #f8feff);
  border-image-slice: 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh;
}

.searchBox {
    height: 7vh;
   display: flex;

}

.searchBox input {
  padding: 5px;
  margin-right: 10px;
}

.add {
  cursor: pointer;
  background: radial-gradient(
    rgba(120, 215, 255, 0.9),
    rgba(30, 115, 136, 0.9),
    rgba(99, 182, 242, 0.9)
  );
  color: #fff;
  border: double 0.7vh rgba(242, 255, 252, 0.8);
  border-radius: 7vh;
}

.tableContainer {
  margin-top: 20px;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer table th,
.tableContainer table td {
  border: 1vh double rgba(54, 231, 234, 0.8);
  border-radius: 1vh;
  padding: 1vh;
  text-align: center;
  background-color: #f8feff;
}

.actionButton {
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  padding: 1vh;
  border: none;
  border-radius: 4px;
}

/* Second Parren styles start */
.actionContainer {
  width: 60vw;
  height: 80vh;
  background: linear-gradient(
    9deg,
    rgba(175, 197, 123, 0.9),
    rgba(180, 226, 73, 0.9),
    rgba(59, 83, 3, 0.9)
  );
  margin-left: 20vw;
  top: 10vh;

  position: absolute;
}

.actionContainer form {
  background: linear-gradient(rgba(222, 77, 225, 0.9), rgba(124, 234, 54, 0.8));
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(7, 14vh);
}
.actionContainer form div {
  margin: 1vh;
  background-color: #28a745;
}

.actionContainer form label {
  margin-right: 10px;
  font-weight: bold;
}

.actionContainer form input {
  padding: 5px;
  margin-bottom: 10px;
}

.delete {
  cursor: pointer;
  background-color: #dc3545;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
}









