.container {
  display: flex;
  direction: rtl; 
  justify-content: space-between;
  background-color: aqua;
  width: 100vw;
}

.itemsBox {
  display: flex;
  flex-direction: column;
  border: dashed 0.1vh rgb(187, 219, 128);
  width: 30%;
  height: fit-content;
  border-radius: 0.5vh;
}
.itemsBox div {
  border-bottom: 0.3vh rgb(84, 152, 147) ridge;
  text-align: center;
  padding: 1vh 3vh 2vh 4vh;
  cursor: pointer;
  background: radial-gradient(rgb(221, 252, 253), rgb(168, 225, 209));
}
.itemsBox div:hover {
  border: none;
  color: aliceblue;
  border-right: ridge 2vh rgb(252, 255, 248);
  border-left: ridge 2vh rgb(184, 255, 91);
  border-radius: 0 22vh;
  background: radial-gradient(rgb(78, 149, 152), rgb(66, 174, 145));
  transform: scale(1.1);
}

.topBox {
  width: 100%;
  display: flex;
}
.profileBox {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(rgba(121, 242, 222), rgba(99, 128, 98, 0.9));
  padding: 1vh;
}
.profileBox p {
  background-color: aliceblue;
  padding: 1vh 4vh;
  margin: 1vh;
  border: dashed 0.1vh rgba(99, 128, 98, 0.9);
}
.image {
  border: ridge 0.4vh rgba(248, 248, 248);
  border-radius: 22vh;
}
 
@media (max-width: 666px) {
  .container {
    flex-direction: row;
  }
  .topBox {
    flex-direction: column;
  }
  .profileBox {
    width: 100%;
  }
  .itemsBox {
    width: 100%;
  }
}
