.container {
  display: flex;
 direction: rtl;
  width: 100% ;
}
.topBox {
  width: 100%;
  display: flex;
}
.profileBox {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(rgba(121, 242, 222), rgba(99, 128, 98, 0.9));
   padding: 1vh;
}
.profileBox p {
  background-color: aliceblue;
  padding: 1vh 4vh;
  margin: 1vh;
  border: dashed 0.1vh rgba(99, 128, 98, 0.9);
}
.image {
  border: ridge 0.4vh rgba(248, 248, 248);
  border-radius: 22vh;
}

.orderHistory {
  
}
.orderBox {
}

@media (max-width: 666px) {
  .container {
    flex-direction: row;
  }
  .topBox {
    flex-direction: column;
  }
  .profileBox {
    width: 100%;
  }
}
